.abc{
     background-color: aqua; 
    height: 42px;
    border:2px solid black;
}
.efg{
    background-color: rgba(245, 66, 93, 0.547)
}
.xyz
{
    background-color: hsla(360, 16%, 30%, 1);
}
*
{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(abc.jpg);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}